<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Container 2</title>
  <link rel="stylesheet" href="style.css" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap" rel="stylesheet">
</head>

<body>
  <div class="container-contribua">
    <div class="contribua-flex">
      <img src="imagem2.png" alt="imagem2" class="img-contribua">
      <div class="contribua-texto">
        <h2 class="titulo-com-icone">
          <img src="icone2.png" alt="Ícone2" class="icone-titulo" />
          Sua Contribuição Salva Vidas
        </h2>

        <p>Suas doações são fundamentais para mantermos nosso trabalho. Cada
          contribuição, por menor que seja, tem um impacto direto na vida dos
          animais que cuidamos, garantindo alimentação, medicamentos e
          cuidados veterinários.</p>

        <ul>
          <li>Ração e alimentação especial</li>
          <li>Medicamentos e tratamentos veterinários</li>
          <li>Materiais de higiene e limpeza</li>
          <li>Manutenção do abrigo e instalações</li>
        </ul>

        <button>Faça uma Doação</button>
      </div>
    </div>
  </div>
</body>
</html>