<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Container 3</title>
  <link rel="stylesheet" href="style.css" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap" rel="stylesheet">
</head>

<body>
  <div class="container-compartilhe">
    <div class="compartilhe-flex">
      <div class="compartilhe-texto">

        <h2 class="titulo-com-icone">
          <img src="icone3.png" alt="Ícone3" class="icone-titulo" />
          Compartilhe Esperança: Seja Nossa Voz!
        </h2>

        <p>Sua voz é poderosa! Compartilhando nossa causa nas redes sociais e
          falando com amigos e familiares, você multiplica nossas chances de
          encontrar lares para nossos animais e pessoas dispostas a ajudar.</p>

        <ul>
          <li>Compartilhe perfis de animais para adoção</li>
          <li>Compartilhe perfis de animais para adoção</li>
          <li>Indique nosso trabalho para amigos</li>
          <li>Participe de campanhas de conscientização</li>
        </ul>

        <button>Siga-nos nas Redes</button>
      </div>

      <img src="imagem3.png" alt="imagem3" class="img-compartilhe">
    </div>
  </div>

</body>
</html>