<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Seção Laranja</title>
  <link rel="stylesheet" href="style.css" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap" rel="stylesheet">
</head>

<body>
  <section class="secao-laranja">
    <h1>Sua Ajuda Transforma Vidas</h1>
    <p>Cada gesto de amor conta. Descubra como você pode fazer a diferença</p>
    <p>na vida de um animal carente e se tornar parte desta rede de</p>
    <p>esperança e transformação.</p>
  </section>
  </body>
</html>