<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Container 1</title>
  <link rel="stylesheet" href="style.css" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap" rel="stylesheet">
</head>

<body>
  <div class="container-adote">
    <div class="adote-flex">
      <div class="adote-texto">
        <h2 class="titulo-com-icone">
          <img src="icone1.png" alt="Ícone1" class="icone-titulo" />
          Adote um Amigo Patodavida
        </h2>

        <p>A adoção é um ato de amor que transforma duas vidas: a do animal
          que ganha uma família e a sua, que se enche de alegria e
          companheirismo. Nossos animais estão prontos para dar e receber
          muito amor.</p>

        <ul>
          <li>Salve uma vida e ganhe um companheiro fiel</li>
          <li>Contribua para reduzir o número de animais abandonados</li>
          <li>Receba amor incondicional todos os dias</li>
          <li>Tenha acompanhamento pós-adoção gratuito</li>
        </ul>

        <button>Quero Adotar</button>
      </div>

      <img src="imagem1.png" alt="imagem1" class="img-adote">
    </div>
  </div>

</body>
</html>